* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: 700px 1fr;
  grid-template-rows: 80px 50px 1fr 80px ;
  min-height: 100vh;
  gap:10px;
  padding: 10px;
  }
h1 {
  background-color: rgb(250, 237, 237);
  grid-column: span 2;
  display: flex;
  justify-content: center;
  
  }
  .nav{

  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  grid-column: span 2;
  }
nav ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 30px;
    padding-top: 20px;
}
nav ul li{
    list-style: none;
    
}
nav a{
    color: black;

}
nav a:hover{
    color: blue;
}
.aboutme {
  
  background-color: rgb(250, 237, 237);
}
p{
  color: rgb(27, 22, 22);
  font-size: large;
  
}
.sidebar img{
  height: 350px;
  width: 500px;
}
.projects{
  grid-column: span 2;
  color: rgb(27, 22, 22);
  font-size: large;
}

  
